<h1>New Consultation</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.consultation_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.consultation_path(@conn, :index) %></span>
