<h1>Show Consultation</h1>

<ul>

  <li>
    <strong>Consultation date:</strong>
    <%= @consultation.consultation_date %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.consultation_path(@conn, :edit, @consultation) %></span>
<span><%= link "Back", to: Routes.consultation_path(@conn, :index) %></span>
