<h1>Consultation details:</h1>

<ul>

  <li>
    <strong>Consultation date:</strong>
    <%= @consultation.consultation_date %>
  </li>

</ul>

<span><%= link "Back", to: Routes.consultation_path(@conn, :index) %></span>
